[submodule "HyPlayer.Uta"]
	path = HyPlayer.Uta
	url = https://github.com/HyPlayer/HyPlayer.Uta.git
[submodule "HyPlayer.NCMProvider"]
	path = HyPlayer.NCMProvider
	url = https://github.com/HyPlayer/HyPlayer.NCMProvider.git
